In [1]:
import pandas as pd

In [4]:
df=pd.read_excel("Data-02.xlsx")

In [6]:
df['bags_count']

0       30
1       15
2       46
3       44
4       24
        ..
1104    42
1105    38
1106    25
1107    21
1108    20
Name: bags_count, Length: 1109, dtype: int64

In [7]:
df['sdate']

0       20 February 2020
1       20 February 2020
2       20 February 2020
3       21 February 2020
4       21 February 2020
              ...
1104       29 March 2023
1105       31 March 2023
1106       31 March 2023
1107       31 March 2023
1108       01 April 2023
Name: sdate, Length: 1109, dtype: object

In [8]:
df['edate']

0        05 November 2020
1        01 November 2020
2         07 October 2020
3         20 October 2020
4       25 September 2020
              ...
1104      26 October 2023
1105      28 October 2023
1106    30 September 2023
1107      11 October 2023
1108      08 October 2023
Name: edate, Length: 1109, dtype: object

In [9]:
pd.concat([df['sdate'],df['edate']])

0        20 February 2020
1        20 February 2020
2        20 February 2020
3        21 February 2020
4        21 February 2020
              ...
1104      26 October 2023
1105      28 October 2023
1106    30 September 2023
1107      11 October 2023
1108      08 October 2023
Length: 2218, dtype: object

In [33]:
import numpy as np

In [34]:
s1 = np.concatenate([df['sdate'].to_numpy().reshape(-1,1),df['bags_count'].to_numpy().reshape(-1,1)],axis=1)
s2 = np.concatenate([df['edate'].to_numpy().reshape(-1,1),df['bags_count'].to_numpy().reshape(-1,1)],axis=1)

In [35]:
ar = np.concatenate([s1,s2])

In [48]:
df = pd.DataFrame(ar)

In [50]:
df.to_excel('labour.xlsx')